<div class="container-fluid">
  <h1 class="title">Thermostat Controls</h1>
  <div class="row">
    <div class="col-sm-1 col-md-2 col-lg-3"></div>
    <div class="col-sm-10 col-md-8 col-lg-6 thermostat">
    <!-- <div class="col-md-10 col-lg-8 col-xl-6 thermostat"> -->
      <div class="row">
        <section class="output col-sm-12">
          <div id='datetime'>
            <div id='date'><!--Current Date --></div>
            <div id='time'><!-- Current time --></div>
          </div>
          <div id="msg">
            <!-- Error Message Here -->
          </div>
          <div class="psm-status">
            Power Saver Mode :
            <span id="psm-mode">On<!-- power saving mode status here --></span>
          </div>
          <div class="row">
            <div id="in-display" class="col-xs-6 temp-display">
              Indoor<br><span id="inTemp"><!--{23}--></span> &#8451;</span>
            </div>
            <div id="out-display" class="col-xs-6 temp-display">
              <div id="city"><!--city--></div>
              <!-- <img src='assets/imgs/weather/04d.png' class='weather'> -->
              <span id="outTemp"><!--{23}--></span> &#8451;

            </div>
          </div>
        </section>
        <section class="controls col-sm-offset-2 col-sm-8">
          <section class="temperature">
            <header> Temperature</header>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-sm-offset-2">
                <button id="temp-up" class="btn arrows" title="Up">
                  <div class="glyphicon glyphicon-chevron-up"><!-- up arrow --></div>
                </button>
              </div>
              <div class="col-xs-4 col-sm-3">
                <button id="temp-down" class="btn arrows" title="Down">
                  <div class="glyphicon glyphicon-chevron-down"><!-- down arrow --></div>
                </button>
              </div>
              <div class="col-xs-4 col-sm-3">
                <button id="temp-reset" class="btn" title="Reset">
              <!-- Reset -->
                  <div class="glyphicon glyphicon-repeat"><!-- down arrow --></div>
                </button>
              </div>
            </div>
          </section>
          <section class="power-saver-mode">
            <header>Power Saving Mode</header>
            <!-- <button id="psm-on" class="btn"> -->
            <div class="row">
              <div class="col-xs-offset-2 col-xs-4">
                <button id="psm-on" class="btn psm-btn">
                  <!-- on -->
                  <div class="glyphicon" >On</div>
                </button>
              </div>
              <div class="col-xs-4">
                <button id="psm-off" class="btn psm-btn">
                  <!-- on -->
                  <div class="glyphicon" >Off</div>
                </button>
              </div>
            </div>
        </section>
        <section>
          <header>Outdoor City</header>
          <form class="select-city">
            <label for="current-city">Select your nearest capital city</label>
            <select id="current-city" class="form-control" name="x">
              <option value=''>Please Select</option>

              <% @cities.each do| city |%>

                <% if city.selected == true %>
                  <option value="<%= city.name %>" selected><%= city.name %></option>
                <% else %>
                  <option value="<%= city.name %>"><%= city.name %></option>
                <% end %>
              <% end %>
            </select>
          </form>
        </section>
        <button type="button" class="btn" id="save">
            <div class="glyphicon">Save</div>
        </button>
      </div>
    </div>
    <div class="col-md-1 col-lg-2 col-xl-3"></div>
  </div>
</div>
