<style>
  input[type="text"]
  {
    color:black;
  }
</style>
<div class="container-fluid">
  <h1 class="title">Thermostat Controls</h1>
  <div class="row">
    <div class="col-md-1 col-lg-2 col-xl-3"></div>
    <div class="col-md-10 col-lg-8 col-xl-6 thermostat">
      <div class="row" style="padding:20px;">
        <section class="output col-sm-6 col-md-6">
          <div id="err-msg" style="height:60px;">
            <!-- Error Message Here -->
          </div>
          <div id="in-display">
            Indoor : <span id="inTemp">{23}</span> &#8451;</span>
          </div>
          <div id="out-display" style='min-height: 70px;'>
            <span id="city">city</span> : <span id="outTemp">{23}</span> &#8451;
          </div>
        </section>
        <section class="controls col-sm-6 col-md-6">
          <section class="temperature">
            <header> Temperature</header>
            <button id="temp-up" class="btn arrows" title="Up">
              <div><!-- up arrow --></div>
            </button>
            <button id="temp-down" class="btn arrows" title="Down">
              <div><!-- down arrow --></div>
            </button>
            <button id="temp-reset" class="btn" title="Reset">
              Reset
            </button>
          </section>
          <section class="power-saver-mode">
            <header>Power Saving Mode</header>
            <button id="psm-on" class="btn">on</button>
        </section>
        <section >
          <form class="select-city" style="width:75%;margin-left:auto;margin-right:auto;">
            <label for="current-city">Select your nearest capital city</label>
            <select id="current-city" class="form-control" name="x">
              <option value='London'>London</option>
              <option value='Paris'>Paris</option>

            </select>
          </form>

          <!-- <form action="/save" method="POST">
            <input type="text" name="city">
            <input type="text" name="temperature">
            <input type="submit" name="submit" value="submit" class="btn"> -->
        </section>
        <button type="button" class="btn" id="save"> Save</button>

      </div>
    </div>
    <div class="col-md-1 col-lg-2 col-xl-3"></div>
  </div>
</div>
